{% extends "base.html" %}
{% include 'includes/navbar.html' %}


{% block content %}

  <div class="max-w-screen-md flex flex-wrap items-center justify-between mx-auto p-4">
    <div class="perfil">
        <img src="../static/img/perfil.png" alt="" class="w-24">
        <h3 class="text-2xl font-bold ">Helton da Neusia<h3>
        <p>
            Pentester | Júnior Cybersecurity Engineer | Developer | CCNPTP | CISSP | CTF Player<br>
            <span class="text-sm text-gray-500">Cidade de Maputo, Moçambique  <a href="/contacts" class="text-blue-500 font-semibold underline">Informações de contacto</a></span>
        </p>
        
    </div>
    <p class="py-6">
        <span class="font-semibold">Helton da Neusia</span>
        
        Hacker Ético, Penterter, Profissional de TI, Programador e pesquisador de cibersegurança com experiência em Teste de Penetração em ambientes web e infra-estrutura de redes de computador.<br><br>
        Um jovem mocambicano apaixonado por tecnologia e seguranca da informacao. Me interesei pelo mundo da tecnologia desde os meus 19 anos 
        no instituto no meu curso de informatica e telecomunicacoes, e mais tarde fui me interesando pela programacao e hacking o que me levou a aprender mais sobre essas tecnologias
        e hoje trabalho como hacker etico e redes de computadores resolvendo problemas da sociedade e ajudando a tornar a internet um lugar melhor e uma comunicacao segura.
    </p>

    <div class="">

        <h2 class="font-bold text-2xl py-8">EDUCACAO</h2>
        <p class="font-semibold">Formado nas seguintes areas:</p><br>

        <ol class="relative border-l border-gray-200 dark:border-gray-700 py-8">                  
            <li class="mb-10 ml-4">
                <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Maio 2018 - 2019</time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Informática e Telecomunicações <br>Instituto Politécnico de Tecnológia e Empreendedorismo (IPET)</h3>
                <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
                    MONTAGEM E CONFIGURAÇÃO DE REDES DE COMPUTADOR<br>
                    * Cablagem e Topografia<br>
                    * Instalação de Bastidores<br>
                    * Fichas RJ45<br>
                    * Tomadas RJ45
                </p>
                <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
                    INSTALAÇÃO E CONFIGURAÇÃO DE WINDOWS SERVER<br>
                    * AD DS (Serviços de Domínio Active Directory)<br>
                    * DNS (Sistema de Nomes de Domínio)<br>
                    * servidor de protocolo DHCP<br>
                    * NPS (Servidor de Políticas de Rede)<br>
                    * Servidor Web (IIS)
                </p>
                <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
                    CONFIGURAÇÃO E INSTALAÇÃO DE SERVIDORES LINUX E UBUNTU SERVER<br>
                    * Servidor DNS<br>
                    * Servidor WEB<br>
                    * FServidor de E-mail POSTFIX<br>
                    * Proxy e Anonimato<br>
                    * Servidor Samba
                </p>
                <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
                    MONITORAMENTO DE REDES<br>
                    * SNORT<br>
                    * Pfsense<br>
                    * Pi-Hole<br>
                    * Virtual Box<br>
                    * VMware Workstation Pro<br>
                    * ProxMox
                </p>

            </li>
            <li class="ml-4">
                <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Maio 2019</time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">INFORMÁTICA E SEGURANÇA ELECTÓNICA <br>(Above Corporation)</h3>
                <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
                    MONITORAMENTO DE REDES<br>
                    * Montagem e Configuração de Redes de Computador<br>
                    * Montagem de Portão Automático<br>
                    * Montagem de vedação Eléctrica<br>
                    * Instalação de CCTV
                </p>            
            </li>

            <li class="ml-4">
                <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Janeiro 2021</time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">ECCNPTP - Certification <br>(Empire Cybersecurity
                    Certification Network Penetration Test Profissional)</h3>
                <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
                    TESTE DE INVASAO<br>
                    * Teste de segurança em infra-estruturas de redes<br>
                    * Testes de segurança de aplicativos da web<br>
                    * Conhecimento profundo em sistemas Linux, Windows e Ubuntu
                </p>            
            </li>
            <li class="ml-4">
                <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Junho 2021</time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">CYBER SECURITY CERTIFICATION Ethical Hacking for Beginners - Certification (by Simplilearn)</h3>   
            </li><br>
            <li class="ml-4">
                <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Junho 2021</time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">CYBER SECURITY CERTIFICATION (CISSP) Certified Information Systems Security Professional (by Simplilearn)</h3>   
            </li><br>
            <li class="mb-10 ml-4">
                <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Maio 2022</time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">LICENCIATURA E GESTÃO DE CIBER SEGURANÇA <br>Universidade Técnica de Moçambique (UDM)</h3>
                <p class="text-base font-normal text-gray-500 dark:text-gray-400">
                    Atualmente estou fazendo meu 2º ano em Licenciatura e Gestão de Ciber Segurança
                </p>
            </li>
            
          </ol>

          <h2 class="font-bold text-2xl">HABILIDADES</h2>
        <p>Conhecimento nas seguintes areas:</p><br>

        <ol class="relative border-l border-gray-200 dark:border-gray-700 py-8">                  
            <li class="mb-10 ml-4">
                <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">EXPERIENCIA PROFISSIONAL</h3>
                <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
                    PENTESTER<br>
                    * Teste de segurança em infra-estruturas de redes<br>
                    * Testes de segurança de aplicativos da web
                    * Conhecimento profundo em sistemas Linux, Windows e Ubuntu
                </p>
                <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
                    TÉCNICO INFORMÁTICO<br>
                    * Montagem e Gerenciamento de Redes de Computador
                    * AD DS (Serviços de Domínio Active Directory)<br>
                    * DNS (Sistema de Nomes de Domínio)<br>
                    * servidor de protocolo DHCP<br>
                    * NPS (Servidor de Políticas de Rede)<br>
                    * Servidor Web (IIS)<br>
                    * Servidor DNS<br>
                    * Servidor WEB<br>
                    * FServidor de E-mail POSTFIX<br>
                    * Proxy e Anonimato<br>
                    * Servidor Samba<br>
                    * SNORT<br>
                    * Pfsense<br>
                    * Pi-Hole<br>
                    * Virtual Box<br>
                    * VMware Workstation Pro<br>
                    * ProxMox
                </p>
                <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
                    PROGRAMACAO<br>
                    * Gerenciamento de banco de dados com MySQL, e MongoDB<br>
                    * Desenvolvimento de aplicativos da web com Flask e Python<br>
                    * HTML - CSS - JS<br>
                    * Framwork Angular, e Flask<br>
                    * Bibliotecas CSS (Bootstrap e Tailwind)<br>
                    * Gestão de projetos<br>
                    * Git e Github
                </p>

            </li>
            
          </ol>
    </div>
        
    {% include 'includes/footer.html' %}


        
  


  </div>

{% endblock %}