{% extends "base.html" %}

{% block content %}

<div class="max-w-screen-md flex flex-wrap items-center justify-between mx-auto p-4">
   <div class="m-auto py-24">
    <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col items-center pb-10">
            <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="../static/img/perfil.png" alt="Bonnie image"/>
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Helton da Neusia</h5>
            <span class="text-sm text-center text-gray-500 dark:text-gray-400">Pentester | Júnior Cybersecurity Engineer | Programador</span>
        </div>
        <h5 class="mb-3 text-base font-semibold text-gray-900 md:text-xl dark:text-white">
            Informações de contacto
        </h5>
        <p class="text-sm font-normal text-gray-500 dark:text-gray-400">Cidade de Maputo, Moçambique<br> +258 84 377 9669 | 86 104 8724 | 83 306 4723</p>
        <ul class="my-4 space-y-3">
            <li>
                <a href="https://github.com/HulitosCode" class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                    <ion-icon name="logo-github"></ion-icon>
                    <span class="flex-1 ml-3 whitespace-nowrap">GitHub</span>
               </a>
            </li>
            <li>
                <a href="https://www.instagram.com/helton_matimbe/" class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                    <ion-icon name="logo-instagram"></ion-icon>
                    <span class="flex-1 ml-3 whitespace-nowrap">Instagram</span>
                </a>
            </li>
            <li>
                <a href="https://facebook.com/darkseccybersecurit" class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                    <ion-icon name="logo-facebook"></ion-icon>
                    <span class="flex-1 ml-3 whitespace-nowrap">Facebook</span>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/heltonmatimbe/" class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                    <ion-icon name="logo-linkedin"></ion-icon>
                    <span class="flex-1 ml-3 whitespace-nowrap">Linkdin</span>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UClpmrd4jFgr4qhl0A80kh8Q" class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                    <ion-icon name="logo-youtube"></ion-icon>
                    <span class="flex-1 ml-3 whitespace-nowrap">YouTube</span>
                </a>
            </li>
        </ul>
        <div>
            <a href="#" class="inline-flex items-center text-xs font-normal text-gray-500 hover:underline dark:text-gray-400">
                heltonmatimbe8@gmail.com
            </a>
        </div>
    </div>
   </div>

</div>

{% endblock %}